<div class="container">
  <h1>Your messages</h1>

  <table class="table table-striped table-messages">
    <thead>
      <tr>
        <th>From</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
    </thead>
    <tbody>
      <% if @messages.count > 0 %>
        <% @messages.each do |m| %>
          <tr class="<%= 'unread' unless m.is_read %>">
            <td class="name"><%= link_to(m.sender.name, message_path(m.id)) %></td>
            <td class="subject"><%= link_to(m.subject, message_path(m.id)) %></td>
            <td class="date"><%= time_ago_in_words(m.created_at) %> ago</td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td colspan="3" class="empty text-center">You don't have any unread message!</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>