<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Welcome to Smart Chat</h1>
      <% if !current_user.present? %>
        <%= render 'sessions/form' %>
      <% else %>
        <p>You are logged in as <%= current_user.name %></p>
      <% end %>
    </div>
  </div>
</div>