<div class="container">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <h1>Welcome to Smart Chat</h1>
      <% if current_user.present? %>
      <p>You are logged in as <%= current_user.name %></p>
      <% end %>
      <p>
        <%= link_to "Sign Up", new_user_path, class: "btn btn-default" %>
        <%= link_to "Sign In", new_session_path, class: "btn btn-primary" %>
      </p>
    </div>
  </div>
</div>