// Place all the styles related to the messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background-color: #efefef;
  font-family: Roboto, sans-serif;
}

h1{
  text-align: center;
}

.table-messages{
  tr.unread{
    td{
      font-weight: 400;
    }
  }
}

.box-center{
  margin-left: auto;
  margin-right: auto;
}

.btn{
  padding: 1rem 2rem;
  cursor: pointer;
}

.btn-gray{
  background-color: #ededed;
  color: #292b2c;
  &:hover{
    background-color: #dedede;
    color: #292b2c;
  }
}

.box{
  @extend .box-center;
  overflow: hidden;
  max-width: 450px;
  background-color: #fff;
  // border: 1px solid #eee;
  box-shadow: 0 2px 20px 0 rgba(0,0,0,0.2);
  border-radius: 3px;
  padding: 30px;
}

.box-button{
  margin: 30px -30px -30px -30px;
  display: flex;
  .btn{
    flex-grow: 1;
    display: block;
    border-radius: 0;
  }
}

.message-item{
  @extend .box-center;
  max-width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.alert{
  margin-top: -30px;
  border-radius: 0;
  border: 0;
}

.table{
  tr.unread{
    td{
      font-weight: bold;
    }
  }
}